/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

body{
  font-family: 'Montserrat','Noto Sans JP', sans-serif;
}

#container {
  transition: transform 0.5s, box-shadow 0.5s ;
  background-color: $cWhite;
  position: relative;
  z-index: 10;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}



.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}
// bootstrap spacing
.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

#content {
  // padding-top: $navHeight;
}

.header{
  // position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: $navHeight;
  background-color:transparent;
  display: flex;
  align-items: center;
  z-index: 100;

  // &.triggered {
  //   background-color: rgba(255, 255, 255, 0.9);
  //   box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  // }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
  }

  &__nav{
    display: none;
  }
  
  &__ul{
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      align-items: center;
  }
  
  &__li{
      margin-left: 40px;
      & > a {
        color: $cBlack;
        text-decoration: none;
        text-transform: uppercase;
      }
  }
  & .logo{
      justify-content: center;
      font-size: 25px;
  }
}


.first {
  height: 480px;
  &__img{
    &:first-child {
      background-position: top;
    }
    &:nth-child(2) {
      background-position: center;
    }
    &:last-child {
      background-position: right;
    }
  }
}



.houses {
  @extend .content-width;
  @extend .mb-lg;

  &__title {
    @extend .font-lr;
    @extend .mb-sm
  }
  &__btn {
    text-align: center;
    flex-basis: 100%;
  }
  &__inner{
    @extend .flex;
  }
}


.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}

.sub-title {
  @extend .font-sm;
  color: $cSubTitle;
  // display: none;
}

.flex{
  display: flex;
  flex-direction: column;
}

.popular {
  &__inner {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70%;
      background-color: $cBgGray;
    }
  }
  &__header{
    @extend .content-width;
  }
  &__container{
    position: relative;
    z-index: 2;
    @extend .flex;
    @extend .content-width;
    @extend .pb-sm;
  }
  &__title {
    @extend .font-md;
    @extend .mb-sm
  }
  &__btn {
    text-align: center;
    flex-basis: 100%;
    @extend .mb-lg;
  }
  &__img {
    height: 150px;
    overflow: hidden;
    margin-bottom: 5px;

    & > img {
      object-fit: cover;
      object-position: bottom;
      height: 100%;
      width: 100%;
    }
  }
}
.purple {
  color: red;
}



.about {
  @extend .content-width;
  @extend .mb-lg;

  &__inner {
    @extend .flex;
    justify-content: space-between;
    padding: 15px;
    background-color: $cBgGray;
    position: relative;
    z-index: 0;
  }
  &__sub {
    @extend .mb-sm
  }
  &__img {
    height: 300px;
    @extend .mb-sm;
    transition: box-shadow 1ms linear 1s;

    & > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: -1;
    }
    &.inview {
      box-shadow: inset 0 0 30px black;
    }
  }
  &__texts {
    @extend .pb-sm;
  }
  &__title {
    position: relative;
    @include p-base($display: none, $width: 100px, $height: 1px, $top: 50%, $left: -120px){
      background-color: black;
      transform: translateY(-50%) scaleX(0);
      transition: transform 0.3s ease 1.6s;
      transform-origin: right;
    }
    &.inview{
      &::before{
        transform: translateY(-50%);
      }
    }
  }
}

.logo {
  font-size: 34px;
  display: flex;
  align-items: center;
  &__img{
    width: 115px;
    height: 80px;
  }

}

.footer{
  padding: 60px 0;
  @extend .content-width;
  &__nav{
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__ul{
    @extend .flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li{
    padding: 0;
    margin: 10px;
    & > a {
      color: $cBlack;
      text-decoration:none;
    }
  }
  & .logo{
    justify-content: center;
    font-size: 25px;
  }
}

a {
  &:hover {
    color: $cBgGray;
  }
}
